[class*="material-blue-grey"] {
    background-color: #607d8b !important;
    color: rgba(255,255,255,.84) !important;
}

[class*="material-grey"] {
    background-color: #9e9e9e !important;
    color: rgba(255,255,255,.84) !important;
}

[class*="material-brown"] {
    background-color: #795548 !important;
    color: rgba(255,255,255,.84) !important;
}

[class*="material-deep-orange"] {
    background-color: #ff5722 !important;
    color: rgba(255,255,255,.84) !important;
}

[class*="material-orange"] {
    background-color: #ff9800 !important;
    color: rgba(0,0,0,.84) !important;
}

[class*="material-yellow"] {
    background-color: #ffeb3b !important;
    color: rgba(0,0,0,.84) !important;
}

[class*="material-lime"] {
    background-color: #cddc39 !important;
    color: rgba(0,0,0,.84) !important;
}

[class*="material-green"] {
    background-color: #4caf50 !important;
    color: rgba(255,255,255,.84) !important;
}

[class*="material-teal"] {
    background-color: #009688 !important;
    color: rgba(255,255,255,.84) !important;
}

[class*="material-cyan"] {
    background-color: #00bcd4 !important;
    color: rgba(0,0,0,.84) !important;
}

[class*="material-light-blue"] {
    background-color: #03a9f4 !important;
    color: rgba(255,255,255,.84) !important;
}

[class*="material-blue"] {
    background-color: #2196f3 !important;
    color: rgba(255,255,255,.84) !important;
}

[class*="material-indigo"] {
    background-color: #3f51b5 !important;
    color: rgba(255,255,255,.84) !important;
}


[class*="material-deep-purple"] {
    background-color: #673ab7 !important;
    color: rgba(255,255,255,.84) !important;
}

[class*="material-purple"] {
    background-color: #9c27b0 !important;
    color: rgba(255,255,255,.84) !important;
}

[class*="material-pink"] {
    background-color: #e91e63 !important;
    color: rgba(255,255,255,.84) !important;
}

[class*="material-red"] {
    background-color: #f44336 !important;
    color: rgba(255,255,255,.84) !important;
}